#include <windows.h>
#include "resource.h"

IDI_APP ICON "mirror.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,1,1,0
PRODUCTVERSION 1,1,1,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ff0l"
            VALUE "FileDescription", "Mirror - iPhone screen mirroring"
            VALUE "FileVersion", "1.1.1"
            VALUE "InternalName", "Mirror"
            VALUE "LegalCopyright", "ff0l"
            VALUE "OriginalFilename", "Mirror.exe"
            VALUE "ProductName", "Mirror"
            VALUE "ProductVersion", "1.1.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
